{% extends "layout.html" %}
{% block content %}
  <h2>Page to show all employee</h2>
  <table class="striped">
    <caption>All Employees</caption>
    <thead>
      <tr>
        <th>#</th>
        <th>name</th>
        <th>mail address</th>
        <th>remote</th>
        <th>department</th>
        <th>year</th>
        <th>created_at</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for employee in employees %}
        <tr>
          <td>{{ employee.id }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.mail }}</td>
          <td>{{ employee.is_remote }}</td>
          <td>{{ employee.department }}</td>
          <td>{{ employee.year }}</td>
          <td>{{ employee.created_at.strftime("%Y/%m/%d %H:%M") }}</td>
          <td>
            <a class="button" href="/employees/{{ employee.id }}">show</a>
            <a class="button secondary"href="/employees/{{ employee.id }}/edit">edit</a>
            <form action="{{ url_for('employee_delete', id=employee.id) }}"
                  method="POST">
              <input class="button error" type="submit" value="delete">
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
